#wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	.increase {
		color: #9a0d0d;
	}

	.decrease {
		color: #418004;
	}

	.container {
		background: $containerbg;
		position: absolute;
		width: 96%;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 90px;
		overflow: hidden;
		z-index: 9500;
		@include box-shadow(#1f2022 -2px 0px 9px);

		@media screen and (min-width: 1950px) {
			width: 97%;
		}

		.column {
			color: white;
			display: block;
			border-right: solid 2px #2a2c31;


			.title {
				display: block;
				margin: 0 10px 0 10px;
				@include background-image(linear-gradient(top bottom, #b64221, #873119));
				text-align: center;
				height: 35px;
				padding-top: 7px;
				@include box-shadow(#1a1b1d 4px 4px 10px);
			}

			ul.item-list {
				width: 100%;

				li.item {
					width: 100%;
					display: table;
					height: 150px;
					border-bottom: solid 1px #2a2c31;

					.item-container {
						width: 100%;
						position: relative;
						display: table-cell;
						vertical-align: middle;
						text-align: center;

						.name {
							position: absolute;
							left: 40px;
							top: 63px;
						}

						.weight {
							text-align: center;
						}

						.price {
							position: absolute;
							top: 63px;
							right: 40px;
						}
					}
				}
			}
		}
	}
}