#wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	.increase {
		color: $red;
	}

	.decrease {
		color: $green;
	}

	.container {
		background: $containerbg;
		position: absolute;
		width: 96%;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 90px;
		overflow: hidden;
		z-index: 9500;
		@include box-shadow(#1f2022 -2px 0px 9px);

		@media screen and (min-width: 1950px) {
			width: 97%;
		}

		@media screen and (max-width: 1200px) {
			overflow: auto;
		}

		@media (min-device-width : 320px) and (max-device-width : 480px) {
			left: 0;
			width: 100%;
		}

		.column {
			color: white;
			display: block;
			border-right: solid 2px $border;

			@media screen and (max-width: 1200px) {
				margin:0 auto;
			}


			.title {
				display: block;
				margin: 0 10px 0 10px;
				@include background-image(linear-gradient(top bottom, #b64221, #873119));
				text-align: center;
				height: 35px;
				padding-top: 7px;
				@include box-shadow(#1a1b1d 4px 4px 10px);

				@media screen and (max-width: 1200px) {
					margin: 0 50px 0 10px;
				}

				@media (min-device-width : 320px) and (max-device-width : 480px) {
					display: none;
				}
			}

			ul.item-list {
				width: 100%;

				li.item {
					width: 100%;
					display: table;
					height: 150px;
					border-bottom: solid 1px $border;


					@media (min-device-width : 320px) and (max-device-width : 480px) {
						height: 77px;
					}

					.item-container {
						width: 100%;
						position: relative;
						display: table-cell;
						vertical-align: middle;
						text-align: center;


						.name {
							position: absolute;
							left: 40px;
							top: 63px;

							@media (min-device-width : 320px) and (max-device-width : 480px) {
								top: 25px;
								left: 10px;
							}
						}

						.weight {
							text-align: center;
						}

						.price {
							position: absolute;
							top: 63px;
							right: 40px;

							@media (min-device-width : 320px) and (max-device-width : 480px) {
								top: 25px;
								right: 10px!important;
							}

							@media screen and (max-width: 1200px) {
								right: 80px;
							}
						}
					}
				}
			}
		}
	}
}