.nav {
	width: 90px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-image: url('../img/perforated_white_leather.jpg');
	z-index: 3;

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
		position: absolute;
		bottom: 0;
		height: 672px !important;
	}


	@media (min-device-width : 320px) and (max-device-width : 480px) {
		display: none;
	}

	#logo {
		display: block;
		padding: 4px 0;
		cursor: auto;
		// margin: 10px auto 10px auto;
		margin: 22px 0 0 22px;
	}

	ul {
		display: block;
		list-style: none;
		width: 80px;
		margin: 0;
		padding: 5px 0 0 0;
		text-align: center;

		li {
			display: block;
			padding: 10px 0 10px 8px;
			border-bottom: 1px solid #1f1f1f;
		}

		.about-link {
			display: block;
			position: absolute;
			width: 90px;
			bottom: 10px;
			left: 0;
			margin: 0;
			padding: 10px 0 0 0;
			text-align: center;
			border-bottom: none;
			border-top: 1px solid #1f1f1f;
		}
	}
}

.mobile-nav {
	position: absolute;
	bottom: -2px;
	left: -2px;
	width: 100%;
	z-index: 9501;
}

.active {
	color: $orange !important;
	background-color: $containerbg !important;
	border-color: #313542 !important;
	border-top: none;
}


.mobile {
	padding: 6px 15.6px;
	color: white;
	background-color: $orange;
	border-color: #313542;
	border-left-width: 2px;
	border-right-width: 2px;	

	&:first-child {
		border-left: none;
	}

	&:last-child {
		border-right: none;
	}

	&:active,
	&:hover {
		color: $orange !important;
		background-color: $containerbg !important;
		border-color: #313542 !important;
		border-top: none;
	}
}

#chicken .chicken,
#turkey .turkey,
#duckling .duckling,
#goose .goose {
	color: $orange !important;
	background-color: $containerbg !important;
	border-color: #313542 !important;
	border-top: none;
}

