.nav {
	width: 90px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-image: url('../img/perforated_white_leather.jpg');
	z-index: 3;

	#logo {
		display: block;
		padding: 4px 0;
		cursor: auto;
		margin: 10px auto 10px auto;
	}

	ul {
		display: block;
		list-style: none;
		width: 80px;
		margin: 0;
		padding: 5px 0 0 0;
		text-align: center;

		li {
			display: block;
			padding: 10px 0 10px 8px;
			border-bottom: 1px solid #1f1f1f;
		}

		.about-link {
			display: block;
			position: absolute;
			width: 90px;
			bottom: 10px;
			left: 0;
			margin: 0;
			padding: 10px 0 0 0;
			text-align: center;
			border-bottom: none;
			border-top: 1px solid #1f1f1f;
		}
	}
}
